<md-card class.dark-theme="true">
	<md-card-content>
		<md-card-title-group>
			<div class="tile-container">
				<md-card-subtitle>{{ interval }}</md-card-subtitle>
				<div class="tile-sell">
					<md-card-title>{{ interval }}</md-card-title>
					<md-card-title>Sell {{ model.currency1 }}</md-card-title>
				</div>
				<!--<md-slider min="1" max="5" step="0.5" value="1.5"></md-slider>-->
			</div>
			<div class="tile-container">
				<md-card-subtitle>{{ model.price }}</md-card-subtitle>
				<div class="tile-buy">
					<md-card-title>{{ model.price }}</md-card-title>
					<md-card-title>Buy {{ model.currency1 }}</md-card-title>
				</div>
				<!--<md-slider min="1" max="5" step="0.5" value="1.5"></md-slider>-->
			</div>
			<!--<span>TileId: {{ model.tileId }} : {{ model.serverTileId }}</span>-->
		</md-card-title-group>
	</md-card-content>
</md-card>