<div>
	<button md-button
	        (click)="addPairs(10)"
	        color="primary">Add 10 Tiles
	</button>
	<button md-button
	        (click)="clearAll()"
	        color="primary">Clear
	</button>
	<button *ngFor="let currencyPair of currencyPairs"
	        md-button
	        (click)="addPair(currencyPair)"
	        color="primary">
		{{ currencyPair }}
	</button>
	<md-checkbox [(ngModel)]="isWorker">Is Worker</md-checkbox>

	<label>Total Tiles : {{ state.selectedPairs.length }}</label> <label>Update frequency:
	{{ frequency }} ms</label>

	<div class="container">
		<self-tile *ngFor="let selectedPair of state.selectedPairs"
				   [tileId]="selectedPair.tileId"
		           [streamType]="selectedPair.streamType"
		           [displayName]="selectedPair.key">
		</self-tile>
	</div>
</div>